.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-previous,
  .pagination-link {
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(219, 52, 52);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .pagination-link:hover {
    background-color: #fff;
    color: rgb(219, 52, 52);
  }
  
  .pagination-previous:hover,
  .pagination-link:hover {
    background-color: #f0f0f0;
  }
  
  .is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgb(105, 26, 26);
    color: #aaa;
  }
  
  .is-current {
    background-color: #fff;
    color: rgb(219, 52, 52);
  }
  
  .pagination-list {
    list-style: none;
    display: flex;
    margin-left: 10px;
  }
  
  .pagination-list li {
    margin-right: 5px;
  }