.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
    background-color: rgb(219, 52, 52); /* Puedes cambiar el color según tus preferencias */
    color: #fff;
}
  
.mainContainer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.mainContainer a:hover {
    color: black; /* Cambia el color al pasar el puntero */
}